<form #reservationEntryForm="ngForm" action="">
    <div class="jumbotron">
        <div class="form-horizontal">
            <div class="col-xs-12">
                <h2>Make a reservation in the best restaurant in the world</h2>
            </div>
        </div>
    </div>
    <br>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-4" align="center">
                <h3>Personal data</h3>
            </div>
        </div>
        <label class="col-sm-2">Name *</label>
        <div class="col-sm-4">
            <input #clientName="ngModel" [(ngModel)]="propName" name="clientName" type="text" class="form-control" />
        </div>
        <br>
        <button class="btn btn-primary" (click)="reservationEntry()">Submit</button>
    </div>
</form>